@charset "UTF-8";

html,body {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	margin: 0;
	padding: 0;
}

#wrap {
	padding: 20px;
	min-width: 300px;
}

.m-list-form {

}
.m-list-form li {
	margin-top: 15px;
}
.m-list-form li:first-child {
	margin-top: 0;
}
.m-list-form li label {
	display: block;
	margin-bottom: 5px;
}
.m-list-form li input,
.m-list-form li textarea {
	width: 100%;
}
.m-list-form li button {
	display: block;
	background: orange;
	color: #fff;
	padding: 20px;
	border: none;
	outline: none;
	box-sizing: border-box;
	text-align: left;
}

h1 {
	margin: 0;
	padding: 10px 40px;
	background: #000;
	color: #fff;
}
.app-containar {
	/*display: flex;*/
}
.app-containar .containar-col {
	height: 48vh;
	padding: 25px 40px;
	box-sizing: border-box;
	border-top: 1px solid #ccc;
	overflow: auto;
}
.app-containar .containar-col:first-child {
	border-top: 0;
}
.app-containar .containar-col input[type=text],
.app-containar .containar-col textarea {
	width: 100%;
}
.app-containar .containar-col h2 {
	margin-top: 30px;
}
.app-containar .containar-col h2:first-child {
	margin-top: 0;
}

.app-containar .containar-col table {
	table-layout:fixed;
	border: 1px solid #ccc;
	border-collapse: collapse;
	white-space: nowrap;
}
.app-containar .containar-col table th,
.app-containar .containar-col table td {
	padding: 10px;
	border: 1px solid #ccc;
	word-break: break-all;
}
.app-containar .containar-col table thead th {
	background: #eee;
}